.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  background-color: #ffffff;
  padding: 20px;
  max-width: 100vw;
  width: 100vw;
}

.CartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.HeaderHeading {
  font-size: 25px;
  font-family: 'Roboto';
  margin: 0;
}

@media (max-width: 575px) {
  .HeaderHeading {
    font-size: 20px;
  }
}

.HeaderPara {
  font-size: 20px;
  font-family: 'Roboto';
}

@media (max-width: 575px) {
  .HeaderPara {
    display: none;
  }
}

.CartItemsContainer {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: flex-end;
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.CartLength {
  font-size: 10px;
  font-family: 'Roboto';
}

@media (max-width: 575px) {
  .CartLength {
    font-size: 6px;
  }
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.logout-button {
  background-color: lightblue;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  width: 120px;
  height: 38px;
  outline: none;
  cursor: pointer;
  border: 0;
  margin: 10px;
  font-family: 'Roboto';
}

@media screen and (max-width: 768px) {
  .logout-button {
    display: none;
  }
}

.mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.nav-bar-img {
  width: 24px;
}

.cart-img {
  position: absolute;
  width: 28px;
}

.ItemLengthContainer {
  background-color: Orange;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
