.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  background-color: #ffffff;
  padding: 20px;
}

.CartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  font-size: 20px;
}

.HeaderHeading {
  font-size: 25px;
  font-family: 'Roboto';
  margin: 0;
}

@media (max-width: 575px) {
  .HeaderHeading {
    font-size: 20px;
  }
}

.HeaderPara {
  font-size: 20px;
  font-family: 'Roboto';
}

@media (max-width: 575px) {
  .HeaderPara {
    font-size: 15px;
  }
}

.CartItemsContainer {
  background-image: url('https://res.cloudinary.com/dj63dzhgu/image/upload/v1734198981/Cart_zafq3c.jpg');
  background-size: cover;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-end;
}

.ItemLengthContainer {
  background-color: Orange;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartLength {
  font-size: 10px;
  font-family: 'Roboto';
}

@media (max-width: 575px) {
  .CartLength {
    font-size: 6px;
  }
}
